@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #111827;
  --primary: #fcd34d; /* amber-300 */
  --primary-hover: #fbbf24; /* amber-400 */
  --primary-light: #fde68a; /* amber-200 */
  --secondary: #3b82f6; /* blue-500 */
  --secondary-hover: #2563eb; /* blue-600 */
  --secondary-light: #60a5fa; /* blue-400 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-light: var(--primary-light);
  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-light: var(--secondary-light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
